<!--<table id = "chessBoard">-->
<!--  <tr>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--    <td (click)="trClick()"></td>-->
<!--  </tr>-->
<!--</table>-->

<table id="chessBoard">
  <tr *ngFor="let row of columns">
    <td *ngFor="let cell of rows" (click)="trClick(row,columns)"></td>
  </tr>
</table>
