
<div class="container mx-auto px-4 my-2">
  <div class="flex items-center justify-center py-6 bg-teal-500 rounded-b-lg">
    <a href="#" class="text-gray-800 text-sm font-bold hover:text-purple-600 mx-4 ">Home</a>
    <a href="#" class="text-gray-800 text-sm font-bold hover:text-purple-600 mx-4 ">New Game</a>
    <a href="#" class="text-gray-800 text-sm font-bold hover:text-purple-600 mx-4 ">History</a>
  </div>
  <section class="bg-white py-4 w-full">
  </section>
  <div class="bg-gray-200 font-sans w-full min-h-screen m-0">

    <div class="container content-center ">
      <div class="table border-black border-4 rounded shadow-2xl">
        <div class="table-row  ">
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
        </div>


        <div class="table-row">
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>

        </div>
        <div class="table-row">
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>

        </div>
        <div class="table-row">

          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>

        </div>


        <div class="table-row">
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-800 text-gray-700 px-6 py-6 text-sm  m-4 "></div>
          <div class="table-cell bg-green-800 text-gray-700 px-6 py-6 text-sm  m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4"></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4"></div>
          <div class="table-cell bg-green-800 text-gray-700 px-6 py-6 text-sm m-4 "></div>
          <div class="table-cell bg-green-800 text-gray-700 px-6 py-6 text-sm m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4"></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4"></div>

        </div>
        <div class="table-row">

          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-800 text-gray-700 px-6 py-6 text-sm m-4 "></div>
          <div class="table-cell bg-green-800 text-gray-700 px-6 py-6 text-sm  m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4"></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4"></div>
          <div class="table-cell bg-green-800 text-gray-700 px-6 py-6 text-sm m-4 "></div>
          <div class="table-cell bg-green-800 text-gray-700 px-6 py-6 text-sm m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4"></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4"></div>

        </div>


        <div class="table-row">
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>

        </div>
        <div class="table-row">

          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>

        </div>
        <div class="table-row">
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>

        </div>
        <div class="table-row">

          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-500 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>
          <div class="table-cell bg-green-200 text-gray-700 px-6 py-6 text-sm border-2 border-black m-4 "></div>

        </div>
      </div>
    </div>
    <div class="flex flex-row px-4 py-2 m-2">

      <li class="list-none px-2"> Bomb<img class="imageSize" src="../assets/bomb.png" alt="bomb" draggable="true"></li>
      <li class="list-none px-2"> Captain <img class="imageSize" src="../assets/captain.png" alt="captain"
                                               draggable="true"></li>
      <li class="list-none px-2"> Colonel <img class="imageSize" src="../assets/colonel.png" alt="colonel"
                                               draggable="true"></li>
      <li class="list-none px-2"> Flag <img class="imageSize" src="../assets/flag.png" alt="flag" draggable="true"></li>
      <li class="list-none px-2"> General <img class="imageSize" src="../assets/general.png" alt="general"
                                               draggable="true"></li>
      <li class="list-none px-2"> Lieutenant <img class="imageSize" src="../assets/lieutenant.png" alt="lieutenant"
                                                  draggable="true"></li>
      <li class="list-none px-2"> Major <img class="imageSize" src="../assets/major.png" alt="major" draggable="true">
      </li>
      <li class="list-none px-2"> Marshal <img class="imageSize" src="../assets/marshal.png" alt="marshal"
                                               draggable="true"></li>
      <li class="list-none px-2"> Scout <img class="imageSize" src="../assets/scout.png" alt="scout" draggable="true">
      </li>
      <li class="list-none px-2"> Sergeant <img class="imageSize" src="../assets/sergeant.png" alt="Sergeant"
                                                draggable="true"></li>
      <li class="list-none px-2"> Spy <img class="imageSize" src="../assets/spy.png" alt="spy" draggable="true"></li>
    </div>

  </div>
  <section class="bg-white py-8 w-full">
  </section>

  <!--

          <table id="chessBoard">
            <tr *ngFor="let row of columns">
              <td *ngFor="let cell of rows" (click)="trClick(row,columns)"></td>
            </tr>
                </table>
                 -->

