<div class="container mx-auto px-4">
  <!--  <div class="flex items-center justify-betweenc py-6 ">-->
  <!--    <a href="#" class="text-gray-800 text-sm font-bold hover:text-purple-600 mx-4 text-3xl">Home</a>-->
  <!--    <a href="#" class="text-gray-800 text-sm font-bold hover:text-purple-600 mx-4 text-3xl">New Game</a>-->
  <!--    <a href="#" class="text-gray-800 text-sm font-bold hover:text-purple-600 mx-4 text-3xl">History</a>-->
  <!--  </div>-->


  <div class="flex mb-4">
    <div class="  ">

      <div class=" flex items-center justify-center pt-4">
        <table id="chessBoard">
          <tr *ngFor="let row of columns">
            <td class=" p-1 border-2 border-black " *ngFor="let cell of rows " (click)="trClick(row,cell)"
                id='{{row}}{{cell}}'>
              <img class="  min-w-full " src="{{gameBoard[row][cell].path}}">
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="block w-1/2 ">

        <h1 id="scoreblue" class="inline-block text-2xl text-center font-bold px-4 pt-4 text-blue-800">Player Blue: {{scoreBlue}}</h1>
        <h1 id = "scorered" class="inline-block text-2xl text-center font-bold text-red-800">Player Red: {{scoreRed}}</h1>

<!--      <h1 class="text-2xl text-center font-bold py-2">Character Description </h1>-->
      <div class="flex justify-center font-bold text-left pt-24">

        <div class=" w-1/4 ">
          <li class="list-none py-2"> Bomb<img class="imageSize" src="../assets/bomb.png" alt="bomb"></li>
          <li class="list-none py-2"> Captain <img class="imageSize" src="../assets/captain.png" alt="captain"></li>
          <li class="list-none py-2"> Colonel <img class="imageSize" src="../assets/colonel.png" alt="colonel"></li>
          <li class="list-none py-2"> Flag <img class="imageSize" src="../assets/flag.png" alt="flag"></li>

        </div>
        <div class="w-1/4">
          <li class="list-none py-2"> Major <img class="imageSize" src="../assets/major.png" alt="major"></li>
          <li class="list-none py-2"> Marshal <img class="imageSize" src="../assets/marshal.png" alt="marshal"></li>
          <li class="list-none py-2"> Scout <img class="imageSize" src="../assets/scout.png" alt="scout"></li>
          <li class="list-none py-2"> General <img class="imageSize" src="../assets/general.png" alt="general"></li>
        </div>
        <div class="w-1/4 ">
          <li class="list-none py-2"> Sergeant <img class="imageSize" src="../assets/sergeant.png" alt="Sergeant"></li>
          <li class="list-none py-2"> Spy <img class="imageSize" src="../assets/spy.png" alt="spy" draggable="true">
          </li>
          <li class="list-none py-2"> Lieutenant <img class="imageSize" src="../assets/lieutenant.png" alt="Lieutenant">
          </li>
          <li class="list-none py-2"> Miner <img class="imageSize" src="../assets/miner.png" alt="Miner"></li>
        </div>
      </div>
      <div class=" flex justify-between pt-24 px-10">
        <!--        <button-->
        <!--          class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-2 border border-blue-500 hover:border-transparent rounded">-->
        <!--          Set Board-->
        <!--        </button>-->

        <button
          class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-2 border border-blue-500 hover:border-transparent rounded">
          Randomise Turn
        </button>
      </div>
      <!--      <div class="block flex justify-center py-2 px-2">-->
      <!--      <button-->
      <!--        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-2 border border-blue-500 hover:border-transparent rounded"-->
      <!--        (click)="hide()">-->
      <!--        Hide Opponent-->
      <!--      </button>-->
      <!--      <button-->
      <!--        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-2 border border-blue-500 hover:border-transparent rounded"-->
      <!--        (click)="unhide()">-->
      <!--        Unhide Opponent-->
      <!--      </button>-->
      <!--      </div>-->

      <h1 class="text-xl px-10 font-bold py-2 text-blue-600"><a
        href="https://www.ultraboardgames.com/stratego/game-rules.php">Looking for rules ?</a></h1>

    </div>
  </div>
</div>
