
#chessBoard{
  border: 7px outset black;
}
#chessBoard td{

}
#chessBoard tr{
  width: 32px;
  height: 32px;
}
/*tr:nth-child(odd) td:nth-child(even),*/
/*tr:nth-child(even) td:nth-child(odd){*/
/*  background-color: #FFA5A2;*/
/*}*/

/*tr:nth-child(even) td:nth-child(even),*/
/*tr:nth-child(odd) td:nth-child(odd){*/
/*  background-color: #EB5B52;*/
/*}*/


td
{
  background-color: #FFA5A2;
}

.options{
  background-color: #EB5B52;
}

ul {
  flex-direction: row;
  justify-content: center;
}

.imageSize {
  height: 50px;

}

#effect:hover td{
background-color: #1b959a;
}
