<div class="container-fluid" style="width: 700px">

  <form class="text-center border border-light p-5">
    <h1 class="h1"> STRATEGO </h1>
    <h4 class="h4 mb-4">Sign in</h4>
    <!-- Email -->
    <input type="username" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

    <!-- Sign in button -->
    <button class="btn btn-outline-primary" type="submit" (click)="onLogin()">Sign in</button>

    <!-- Register -->
    <p>Not a member?
      <a href="">Register</a>
    </p>

  </form>
</div>
